<%# loading animation %>
<%= render "shared/preloader" %>
<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>AV TECHDADDY</h2>
    <div class="project-year">
      <p>website</p>
      <p>2021</p>
    </div>
    <div class="summary">
      <p>The platform serves as a comprehensive resource for setting up and using the various technological equipment in the hospital's operating rooms. With doctors at the hospital using equipment from a range of different companies, ensuring proper setup can be a complex task. AV TECHDADDY was designed to streamline this process and provide a reliable, easy-to-use tool for hospital staff.</p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel/AV-TECHDADDY" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://av-techdaddy.vercel.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "techdaddy_homepage.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= cl_video_tag("Techdaddy_Site_Structure_yfe5yn", autoplayMode: "on-scroll", :controls=>true, :loop=>true, :cloud_name=> "dwdfhpp4i", :transformation=>[
    {:width=>601, :crop=>"scale"}
  ]) %></button>
        <p class="subtitle">Video Walkthrough</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "doctor-page.png", class: "gallery-image" %></button>
        <p class="subtitle">Searching by Doctor Page</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About AV TECHDADDY</h3>
    <p>While working in the hospital as an AV Tech, I consistently ran into problems with people understanding how to use the technical equipment within the operating rooms. I decided that the staff and my personal time will benifit from building a knowledge base to hold all of the information about this equipment that is used all day everyday. This was my first introduction into coding so I built it all with HTML, CSS, and Javascript. It was so much fun building it and working with my coworkers to get feedback on what they enjoyed and what needs to be improved.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Project Structure</h3>
    <p>My goal in developing this project was to create a user-friendly navigation system that would enable individuals to easily find solutions to technical issues, even if the technician was unavailable or busy. To accomplish this, I structured the site to allow users to search by Doctor, Company, or Equipment type, providing flexibility in how they approach their problem. By strategically placing QR codes and matching section IDs in the HTML, users can navigate to the correct sections and subsections with ease, effectively transferring my knowledge to them without my physical presence.
    </p>
    <p>Unfortunately, I was unable to continue selling the product as a service due to legal compliance issues stemming from my employment at the hospital. However, I am currently working on improving the application's functionality and hoping to revive the possibility of selling it to the hospital in the future. I really loved building this product and seeing how it helped the lives of my friends at the workplace. I am passionate about discovering new ideas and building products that are exciting to me and help those around me.
    </p>
  </div>
  <div class="design-components">

  </div>
</section>




<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "Defit.", defit_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "Home", root_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
