<%# loading animation %>
<%= render "shared/preloader" %>
<%# navbar %>
<%= render "shared/project_nav" %>

<%# Project Container %>
<div class="p-container">
  <div class="project-name">
    <h1>AVTECHDADDY</h1>
  </div>
  <div class="p-content-container">
    <div class="left-content">
      <div class="project-content-profile" id="left-project">
        <div class="table-title-profile">
          <h5>TITLE</h5>
          <h5>GENRE</h5>
          <h5>YEAR</h5>
        </div>
        <div class="table-row-profile">
          <p>AVTECHDADDY</p>
          <p>Web</p>
          <p>2022</p>
        </div>
      </div>
      <div class="project-description">
        <p>Created for Vail Health Hospital in Vail, Colorado. The site functions as
        a knowledgebase for how to setup and use the various technological equipment
        within their operating rooms. The hospital is world renown for othopedics, with many
        of the doctors using different companies equipment, setting up the proper equipment
        can be a challenge. That is what AVTECHDADDY was created to help out with.
        </p>
      </div>
    </div>
    <div class="right-content">
      <div class="screenshot-homepage">
        <%= image_tag "techdaddy_homepage.png", class: "screenshot-homepage-image" %>
      </div>
      <div class="tools-used">
        <%# <p>Languages:</p> %>
        <p>HTML</p><span> ❘ </span>
        <p>CSS</p><span> ❘ </span>
        <p>JS</p>
      </div>
    </div>
  </div>
</div>

<div class="p-container">
  <div class="second-section-content">
    <div class="img-1">
      <%# <%= image_tag "techdaddy_vendors.png", class: "img-1" %>
      <%= cl_video_tag("Techdaddy_Site_Structure_yfe5yn", autoplayMode: "on-scroll", :controls=>true, :loop=>true, :cloud_name=> "dwdfhpp4i", :transformation=>[
    {:width=>601, :crop=>"scale"}
  ]) %>
    </div>
    <div class="explaination">
      <h2>STRUCTURE</h2>
      <p>The user can navigate through the site directly by scanning QR Codes placed in the operating rooms,
      or they can choose to navigate by category. The information is broken up into four main categories:
        <ul>
          <li>Doctors</li>
          <li>Vendors</li>
          <li>Equipment</li>
          <li>Settings/Other</li>
        </ul>
      </p>
    </div>
  </div>

  <%# Takeaway %>
  <div class="takeaway-container">
    <h2>TAKEAWAY</h2>
    <p>This was the project that sparked my interest in becoming a developer. I discovered
        how transformative it can be to utilize technology to help others do things that they
        would not typically know how to do. Because this project was mainly HTML and CSS, I really fell in
        love with CSS and how powerful and important the design of a webisite or application is.
    </p>
  </div>
</div>




<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "HOME", root_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "Defit.", defit_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
