

<%= render "shared/preloader" %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>Defit.</h2>
    <div class="project-year">
      <p>web app</p>
      <p>2022</p>
    </div>
    <div class="summary">
      <p>Defit connects individuals who have home gyms with those who are seeking a gym space to train clients or workout on their own. Our platform makes it easy to find and book a convenient and private gym location, giving users the flexibility and versatility to meet their fitness needs.</p>
    </div>
    <div class="icons">
      <a href="https://github.com/SkiltonJ/DeFit" target="_blank"><i class="fa-brands fa-github"></i></a>
      <%# <a href="#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> %>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "defit_homepage.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "gym_index.png", class: "gallery-image" %></button>
        <p class="subtitle">Gym Listings Index Page</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "gym_page.png", class: "gallery-image" %></button>
        <p class="subtitle">Selected Gym's Display / Booking Page</p>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "gym_page_bottom.png", class: "gallery-image" %></button>
        <p class="subtitle">Booking Gym Form</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About Defit</h3>
    <p>As a team of four, we set out to develop an innovative application based on the successful Airbnb business model. Our goal was to decentralize gym usage by creating a user-friendly platform that would allow fitness enthusiasts to rent out workout spaces to those in need. By leveraging our app, personal trainers, yoga instructors, and other fitness professionals could book unique sessions with their clients, offering them the chance to enjoy dynamic environments that keep them motivated and engaged. Ultimately, our solution empowers trainers to offer customized fitness experiences that transcend the traditional gym model.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <%= image_tag "ruby-on-rails-icon.png", class:"other-lang-icon" %>
      <%= image_tag "ruby-programming-language-icon.png", class:"other-lang-icon" %>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Design Elements</h3>
    <p>My objective in designing this project was to achieve a minimalist style, complemented by neutral colors and punctuated by accents of purple and green. While the combination initially seemed unconventional, experimenting with different designs ultimately made us appreciate it more. Our aim was to create a contemporary space that feels both inspiring and inviting. Designing and constructing the profile pages for each gym, as well as the booking system, proved to be a delightful challenge.
    </p>
  </div>
  <div class="design-components">
    <div class="design-img"><%= image_tag "defit-colors.png" %></div>
    <div class="design-img"><%= image_tag "deepwork-font.png" %></div>
    <div class="design-button-defit"><%= image_tag "better-defit-button.png" %></div>
  </div>
</section>





<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "Deepwork.", deepwork_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "AVTECHDADDY", avtechdaddy_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
