

<%= render "shared/preloader" %>

<%= render "shared/project_nav" %>

<%# Project Container %>
<div class="p-container">
  <div class="project-name">
    <h1>Defit</h1>
  </div>
  <div class="p-content-container">
    <div class="left-content">
      <div class="project-content-profile" id="left-project">
        <div class="table-title-profile">
          <h5>TITLE</h5>
          <h5>GENRE</h5>
          <h5>YEAR</h5>
        </div>
        <div class="table-row-profile">
          <p>Defit</p>
          <p>Web</p>
          <p>2022</p>
        </div>
      </div>
      <div class="project-description">
        <p>Built with the Airbnb model in mind, this is an application that connects
        those who have home gyms with those who are looking for a gym to train clients
        or to train solo.
        </p>
        <p>My job for this project was to design the application and code in silo for any feature
        that I was implementing. This is an ongoing project with the team I started with.
        </p>
      </div>
    </div>
    <div class="right-content">
      <div class="screenshot-homepage">
        <%= image_tag "defit_homepage.png", class: "screenshot-homepage-image" %>
      </div>
      <div class="tools-used">
        <%# <p>Languages:</p> %>
        <p>HTML</p><span> ❘ </span>
        <p>CSS</p><span> ❘ </span>
        <p>JS</p><span> ❘ </span>
        <p>Ruby</p><span> ❘ </span>
        <p>Rails Framework</p>
      </div>
    </div>
  </div>
</div>

<div class="p-container">
  <div class="second-section-content">
    <div class="img-1">
      <%= cl_video_tag("Screen_Recording_2022-12-12_at_9.34.56_AM_ypcn3j", autoplayMode: "on-scroll", :controls=>true, :loop=>true, :cloud_name=> "dwdfhpp4i",  :transformation=>[
    {:width=>601, :crop=>"scale"}
  ]) %>
    </div>
    <div class="explaination">
      <h2>STRUCTURE</h2>
      <p>A user can search through a list of all gyms or they can create their own listing.
      Through a form, the gym owner can upload pictures and give a brief description of the gym to set
      theirs apart from the others.
      </p>
    </div>
  </div>

  <%# Takeaway %>
  <%# <div class="takeaway-container">
    <h2>TAKEAWAY</h2>
    <p>This project taught me the value of working in a team. Using project management and design tools like trello
    and figma,
    </p>
  </div> %>
</div>




<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "AVTECHDADDY", avtechdaddy_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "Deeepwork.", deepwork_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
