

<%= render "shared/preloader" %>

<%= render "shared/project_nav" %>

<%# Project Container %>
<div class="p-container">
  <div class="project-name">
    <h1>filmy-j</h1>
  </div>
  <div class="p-content-container">
    <div class="left-content">
      <div class="project-content-profile" id="left-project">
        <div class="table-title-profile">
          <h5>TITLE</h5>
          <h5>GENRE</h5>
          <h5>YEAR</h5>
        </div>
        <div class="table-row-profile">
          <p>filmy-j</p>
          <p>Web</p>
          <p>2022</p>
        </div>
      </div>
      <div class="project-description">
        <p>This is an ongoing project application that supports film photographers who are looking to improve their skills and understand their camera better by keeping track of camera settings for each frame taken. Then when the film is developed, the user can upload the corresponding photo and have a log to learn from for future rolls.
        </p>
        <p>I built all aspects of this application and it has been a fun project for something I am passionate about.
        </p>
        <div class="site-links">
          <a href="https://github.com/mkettel/filmy" target="_blank">Github Repository <i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="screenshot-homepage">
        <%= image_tag "filmyj_homepage.png", class: "screenshot-homepage-image" %>
      </div>
      <div class="tools-used">
        <%# <p>Languages:</p> %>
        <p>HTML</p><span> ❘ </span>
        <p>CSS</p><span> ❘ </span>
        <p>JS</p><span> ❘ </span>
        <p>Ruby</p><span> ❘ </span>
        <p>Rails Framework</p>
      </div>
    </div>
  </div>
</div>

<div class="p-container">
  <div class="second-section-content">
    <div class="img-1" alt="under construction">
      <%# <%= cl_video_tag("Screen_Recording_2022-12-12_at_9.34.56_AM_ypcn3j", autoplayMode: "on-scroll", :controls=>true, :loop=>true, :cloud_name=> "dwdfhpp4i",  :transformation=>[
    {:width=>601, :crop=>"scale"}
  ]) %>
    </div>
    <div class="explaination">
      <h2>UNDER CONSTRUCTION   🛠</h2>
      <p>
      </p>
    </div>
  </div>

  <%# Takeaway %>
  <%# <div class="takeaway-container">
    <h2>TAKEAWAY</h2>
    <p>This project taught me the value of working in a team. Using project management and design tools like trello
    and figma,
    </p>
  </div> %>
</div>




<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "Deepwork.", deepwork_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "HOME", root_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
