

<%= render "shared/preloader" %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>filmy-j</h2>
    <div class="project-year">
      <p>web app</p>
      <p>2022</p>
    </div>
    <div class="summary">
      <p>Film Journal application made to help film photographers learn and understand their cameras by being able to keep track of camera settings by frame for each roll prior to being developed. </p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel/filmy" target="_blank"><i class="fa-brands fa-github"></i></a>
      <p>Coming Soon!</p>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "filmy-homepage.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "camera-selection.png", class: "gallery-image" %></button>
        <p class="subtitle">Select or Add Your Cameras</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "film-selection.png", class: "gallery-image" %></button>
        <p class="subtitle">Select or Add Film Rolls</p>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "film-gallery.png", class: "gallery-image" %></button>
        <p class="subtitle">Add Frames for the Selected Roll</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About filmy-j</h3>
    <p>Filmy-j is built to solve a problem that I personally faced as a film photographer. I was having trouble learning how to take better film photos and after each roll would come back with some really disappointing frames, I decided that it would be nice to have an application for me to be able to track the shutter speed, aperature and any other setting for each photo that is taken. This way I would be able to learn from my mistakes and become a better photographer. This project is ongoing, I hope to complete the MVP version within a few months. I will display some of the technical problems that I have faced and am currently facing and how I am choose to tackle them below.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <i><%= image_tag "ruby-on-rails-icon.png", class:"other-lang-icon" %></i>
      <i><%= image_tag "ruby-programming-language-icon.png", class:"other-lang-icon" %></i>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Design Elements</h3>
    <p>My goal for filmy-j was to have a semi-dark theme. Make it feel somewhat like an old style film camera as well. It took quite awhile to choose the colors that felt good to me and had a lot of playing around on Figma prior to starting the design of the landing page. Finally, I decided my typography font styles and the color palette and got to building.
    </p>
  </div>
  <div class="design-components">
    <div class="design-img"><%= image_tag "filmy-color-pallet.png" %></div>
    <div class="design-img"><%= image_tag "font-group.png" %></div>
  </div>
</section>




<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "Grassroots", grassroots_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "Deepwork.", deepwork_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
