

<%= render "shared/preloader" %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>Grassroots</h2>
    <div class="project-year">
      <p>web app</p>
      <p>2023</p>
    </div>
    <div class="summary">
      <p> A platform that allows artists achieve high retention engagement with their fanbase directly, by helping them identify their core fans and engage with them in a seamless manner for their fans.
       </p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel/filmy" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://artist-operations.onrender.com" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "gr_homepage_full.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<%# UPDATE SECTION IMAGES %>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "gr_oauth.png", class: "gallery-image" %></button>
        <p class="subtitle">Spotify OAuth Login</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "gr_grid.png", class: "gallery-image" %></button>
        <p class="subtitle">Top artists grid with resize effect</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About Grassroots</h3>
    <p>I was brought on the design and develop the current and first version of the application. I utilized classic HTML, CSS, and Javascript to leave space for deciding a framework to use for the full application after doing user testing.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Page Elements</h3>
    <p>The project scope was fairly strightforward. I was tasked to create a page that would allow users to login with their Spotify account, and then display their top artists in a grid. The grid would have a resize effect that would allow the user to see more information about the artist when they hover over the image. With this feature in place that would allow for testing on users before implementing future features.
    </p>
  </div>
  <div class="design-components">
    <div class="design-img"><%= image_tag "filmy-color-pallet.png" %></div>
    <div class="design-img"><%= image_tag "font-group.png" %></div>
  </div>
</section>




<%# FOOTER %>
<div class="footer-container-2">
  <div class="footer-content-2">
    <div class="back-link">
      <i class="fa-solid fa-arrow-left"></i>
      <%= link_to "HOME", root_path, class: "project-link" %>
    </div>
    <div class="forward-link">
      <%= link_to "filmy-j", filmyj_path, class: "project-link" %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>
