<%# TESTING THE PROJECT PAGE CHANGES %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>Deepwork.</h2>
    <div class="project-year">
      <p>website</p>
      <p>2022</p>
    </div>
    <div class="summary">
      <p>Deepwork is a productivity tool that helps people stay focused and increase their productivity by providing a structured environment for working on tasks.  Deepwork helps users track the time they spend on a task and stay focused to get things done more efficiently.</p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "deepwork.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "stats-1-deepwork.png", class: "gallery-image" %></button>
        <p class="subtitle">Check Your Total Minutes Focused</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "stats-2-deepwork.png", class: "gallery-image" %></button>
        <p class="subtitle">See Your Total Session Count</p>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "environments-deepwork.png", class: "gallery-image" %></button>
        <p class="subtitle">Choose From the List of Custom Environments</p>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "intention.png", class: "gallery-image" %></button>
        <p class="subtitle">Set Your Intention and Tie it to a Topic</p>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "during-session.png", class: "gallery-image" %></button>
        <p class="subtitle">View During a Session</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About Deepwork.</h3>
    <p>Deepwork. was built to help give myself and my friends a go-to study environment that allows the user to stay focused for a specific period of time. We incorporated tools like timers, custom backgrounds, and stats so the user can keep track of the progress they are putting in towards acheiving their goals. It was a very fun project to get to work on the different tools that can be combined together to give the best experience possible for the user.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <%= image_tag "ruby-on-rails-icon", class:"other-lang-icon" %>
      <%= image_tag "ruby-programming-language-icon", class:"other-lang-icon" %>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Design Elements</h3>
    <p>My goal for designing this project was to use a minimalistic style, combined with neutral colors to build a space that feels intellectual yet comfortable. Designing and building the profile page was a fun challenge. Building a dashboard that is easy to navigate and shows all the relevent infomation meant we had to use a tab system. It was a fun deep dive into psuedo-elements using ::before and the ::after to create the curved edges on the tab system.
    </p>
  </div>
  <div class="design-components">
    <div class="design-img"><%= image_tag "deepwork-colors.png" %></div>
    <div class="design-img"><%= image_tag "deepwork-font.png" %></div>
    <div class="design-img-button"><%= image_tag "button-deepwork.png" %></div>
  </div>
</section>
