<%# TESTING THE PROJECT PAGE CHANGES %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>filmy-j</h2>
    <div class="project-year">
      <p>website</p>
      <p>2022</p>
    </div>
    <div class="summary">
      <p>Film Journal application made to help film photographers learn and understand their cameras by being able to keep track of camera settings by frame for each roll prior to being developed. </p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "filmy-homepage.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "camera-selection.png", class: "gallery-image" %></button>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "film-selection.png", class: "gallery-image" %></button>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "film-gallery.png", class: "gallery-image" %></button>
    </div>
  </div>
</section>
