<%# Project Section %>


<%# TESTING OTHER PROJECT DESIGNS %>
<section id="project-g">
  <div class="project-container-g">
    <h2>PROJECTS</h2>
    <div class="project-content-g">
      <div class="table-title-g">
        <h4>TITLE</h4>
        <h4>GENRE</h4>
        <h4>YEAR</h4>
        <h4></h4>
      </div>
      <div class="table-row-g">
        <%= link_to avtechdaddy_path do %>
          <p>AVTECHDADDY</p>
        <% end %>
        <%= link_to avtechdaddy_path do %>
          <p>Web</p>
        <% end %>
        <%= link_to avtechdaddy_path do %>
          <p>2022</p>
        <% end %>
      </div>
      <div class="table-row-g" id="left-tilt">
        <%= link_to defit_path do %>
          <p>Defit</p>
        <% end %>
        <%= link_to defit_path do %>
          <p>Web</p>
        <% end %>
        <%= link_to defit_path do %>
          <p>2022</p>
        <% end %>
      </div>
      <div class="table-row-g">
        <%= link_to deepwork_path do %>
          <p>Deepwork.</p>
        <% end %>
        <%= link_to deepwork_path do %>
          <p>Web</p>
        <% end %>
        <%= link_to deepwork_path do %>
          <p>2022</p>
        <% end %>
      </div>
      <div class="table-row-g" id="left-tilt">
        <%= link_to filmyj_path do %>
          <p>filmy-j</p>
        <% end %>
        <%= link_to filmyj_path do %>
          <p>Web</p>
        <% end %>
        <%= link_to filmyj_path do %>
          <p>2022</p>
        <% end %>
      </div>
    </div>
  </div>
</section>


<section id="project-g">
  <div class="project-container-g">
    <h2>PROJECTS</h2>
    <div class="project-grid">
      <div class="project-display">
        <%= image_tag "filmyj_homepage.png", class: "screenshot" %>
        <p class="subtitle">Film Photography Journal Application</p>
        <p class="languages">HTML <span>|</span> SCSS <span>|</span> JS <span>|</span> Ruby <span>|</span> Rails</p>
      </div>
      <div class="project-display">
        <%= image_tag "deepwork.png", class: "screenshot" %>
        <p>Productivity Environment Builder / Tracker</p>
        <p class="languages">HTML <span>|</span> SCSS <span>|</span> JS <span>|</span> Ruby <span>|</span> Rails</p>
      </div>
      <div class="project-display">
        <%= image_tag "defit_homepage.png", class: "screenshot" %>
        <p>Homegym Rental Service Application</p>
        <p class="languages">HTML <span>|</span> SCSS <span>|</span> JS <span>|</span> Ruby <span>|</span> Rails</p>
      </div>
      <div class="project-display">
        <%= image_tag "techdaddy_homepage.png", class: "screenshot" %>
        <p>Operating Room Knowledgebase Application</p>
        <p class="languages">HTML <span>|</span> SCSS <span>|</span> JS <span></p>
      </div>
    </div>
  </div>
</section>
