<%# TESTING THE PROJECT PAGE CHANGES %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>Defit.</h2>
    <div class="project-year">
      <p>website</p>
      <p>2022</p>
    </div>
    <div class="summary">
      <p>Defit connects individuals who have home gyms with those who are seeking a gym space to train clients or workout on their own. Our platform makes it easy to find and book a convenient and private gym location, giving users the flexibility and versatility to meet their fitness needs.</p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "defit_homepage.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "gym_index.png", class: "gallery-image" %></button>
        <p class="subtitle">Gym Listings Index Page</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "gym_page.png", class: "gallery-image" %></button>
        <p class="subtitle">Selected Gym's Display / Booking Page</p>
    </div>
    <div class="gallery-image">
        <button class="img-button"><%= image_tag "gym_page_bottom.png", class: "gallery-image" %></button>
        <p class="subtitle">Booking Gym Form</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About Defit</h3>
    <p>This application was built as a team of 4 people. We wanted to build something based off of the Airbnb business model. Decentralize the use of gyms by creating a platform where those who had a workout space could rent out that space to those in need. From personal trainers and PT's to yoga instructors, they would be able to use this application to book and bring clients without having to be employed at a facility. This opens the door for custom sessions with changing scenary to keep their clients excited and intrigued.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <%= image_tag "ruby-on-rails-icon", class:"other-lang-icon" %>
      <%= image_tag "ruby-programming-language-icon", class:"other-lang-icon" %>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Design Elements</h3>
    <p>My goal for designing this project was to use a minimalistic style, combined with neutral colors and a purple and green to accent the neutral. It seemed a bit funky at first but after playing with some designs we really enjoyed the combination. We wanted a contemporary feel with the hope of building a space that feels motivational and welcoming. Designing and building the profile page for the individual gyms combined with the booking was a fun challenge.
    </p>
  </div>
  <div class="design-components">
    <div class="design-img"><%= image_tag "defit-colors.png" %></div>
    <div class="design-img"><%= image_tag "deepwork-font.png" %></div>
    <div class="design-img-button"><%= image_tag "button-deepwork.png" %></div>
  </div>
</section>
