<%# TESTING THE PROJECT PAGE CHANGES %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>AV TECHDADDY</h2>
    <div class="project-year">
      <p>website</p>
      <p>2021</p>
    </div>
    <div class="summary">
      <p>The platform serves as a comprehensive resource for setting up and using the various technological equipment in the hospital's operating rooms. With doctors at the hospital using equipment from a range of different companies, ensuring proper setup can be a complex task. AV TECHDADDY was designed to streamline this process and provide a reliable, easy-to-use tool for hospital staff.</p>
    </div>
    <div class="icons">
      <a href="https://github.com/mkettel" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
  <div class="right-side">
    <div class="homepage-image">
        <%= image_tag "techdaddy_homepage.png", class: "homepage-image" %>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="gallery">
     <div class="gallery-image">
        <button class="img-button"><%= cl_video_tag("Techdaddy_Site_Structure_yfe5yn", autoplayMode: "on-scroll", :controls=>true, :loop=>true, :cloud_name=> "dwdfhpp4i", :transformation=>[
    {:width=>601, :crop=>"scale"}
  ]) %></button>
        <p class="subtitle">Video Walkthrough</p>
    </div>
     <div class="gallery-image">
        <button class="img-button"><%= image_tag "doctor-page.png", class: "gallery-image" %></button>
        <p class="subtitle">Searching by Doctor Page</p>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about-project-section">
  <div class="about-project-container">
    <h3 class="project-topics">About Defit</h3>
    <p>As a team of four, we set out to develop an innovative application based on the successful Airbnb business model. Our goal was to decentralize gym usage by creating a user-friendly platform that would allow fitness enthusiasts to rent out workout spaces to those in need. By leveraging our app, personal trainers, yoga instructors, and other fitness professionals could book unique sessions with their clients, offering them the chance to enjoy dynamic environments that keep them motivated and engaged. Ultimately, our solution empowers trainers to offer customized fitness experiences that transcend the traditional gym model.
    </p>
    <div class="language-icons">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-sass"></i>
      <%= image_tag "ruby-on-rails-icon", class:"other-lang-icon" %>
      <%= image_tag "ruby-programming-language-icon", class:"other-lang-icon" %>
      <i class="fa-brands fa-square-js"></i>
    </div>
  </div>
</section>

<section class="design-section">
  <div class="design-container">
    <h3 class="project-topics">Design Elements</h3>
    <p>My objective in designing this project was to achieve a minimalist style, complemented by neutral colors and punctuated by accents of purple and green. While the combination initially seemed unconventional, experimenting with different designs ultimately made us appreciate it more. Our aim was to create a contemporary space that feels both inspiring and inviting. Designing and constructing the profile pages for each gym, as well as the booking system, proved to be a delightful challenge.
    </p>
  </div>
  <div class="design-components">
    <div class="design-img"><%= image_tag "defit-colors.png" %></div>
    <div class="design-img"><%= image_tag "deepwork-font.png" %></div>
    <div class="design-button-defit"><%= image_tag "better-defit-button.png" %></div>
  </div>
</section>
