<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.fontshare.com/v2/css?f[]=ranade@1&f[]=gambetta@1&f[]=manrope@1&f[]=cabinet-grotesk@1&display=swap" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/9366535fbb.js" crossorigin="anonymous"></script>
  </head>

  <body>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
